nav {
    position: fixed;
    z-index: 20000 !important;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff;
}

nav .title{
    padding: 22px 20px;
    height: 88px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li a:hover{
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
}
.navbarsection{
    width: 100%;
    background-size: cover;
    background-position: center;
}
.car1 {
    font-size: 100px;
}
.car12 {
    font-size: 50px;
    color: gray;
}
.car123{
    font-size: 30px;
    color: gold;
}
.car1234{
    font-size: 25px;
    color: black;
}
.homeintroduction {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
.little-bar-center {
    height: 3px;
    width: 60px;
    background: #fc5e60;
    margin: auto;
}
.sectionabout {
    max-height: 600px;
    margin-inline: 80px;
    margin-bottom: 50px;
    padding: 0 100px;
    background: url(wiximages/backgroundview2.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.box {
    position: relative;
    max-width: 600px;
    padding: 50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);

}
.box h1 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: #044463;
}
.box p {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.sectionabout2 {
    max-height: 600px;
    margin-inline: 80px;
    margin-bottom: 50px;
    padding: 0 100px;
    background: url(wiximages/backgroundview.png);
    height: 100vh;
    display: flex;
    align-items: center;
}